/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color: #000000;
  --main-color: green;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures the body covers the entire viewport height */
}

.footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  background-color: #333; /* Change the background color as needed */
  color: white; /* Change the text color as needed */
  padding: 20px 0; /* Adjust padding as needed */
  text-align: center;
}






section {
  padding: 50px 10%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 100px;
  background: #edecea;
}
.logo {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--text-color);
}
.logo span {
  color: var(--main-color);
}
.navbar {
  position: relative;
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
  color: var(--text-color);
}
.navbar a:hover {
  color: var(--main-color);
}
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.home {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/home.avif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: covere;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.home-text h1 {
  font-size: 2.7rem;
}
.home-text p {
  font-size: 0.938rem;
  margin: 0.4rem 0 1.8rem;
}
.home-text span {
  color: var(--main-color);
}
.btn {
  padding: 10px 14px;
  background: var(--main-color);
  color: #fff;
  border-radius: 0.3rem;
  font-size: 14px;
}
.btn:hover {
  background: #8fc53d;
}
.heading {
  text-align: center;
}
.heading span {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
}

.new-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.box {
  position: relative;
  box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
  border-radius: 44px 4px 4px 4px;
}
.box .box-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 44px 4px 0 0;
}
.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.box .box-img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.title-price {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.title-price h3 {
  font-size: 1rem;
  font-weight: 600;
}
.box span {
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 12px;
  color: var(--main-color);
}

.new-container .box {
  border-radius: 4px;
}
.new-container .box .box-img {
  border-radius: 4px;
}



.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.about-img img {
  width: 80%;
  border-radius: 10px;
  object-fit: contain;
}
.about-text span {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-color);
}
.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}



/*about gallery*/

.gallery-container {
  overflow-x: auto;
  max-width: 100%; 
}

.gallery-row {
  display: flex; 
  flex-wrap: nowrap;
  justify-content: flex-start; 
  padding: 10px;
}

.gallery-row img {
  margin-right: 5px; 
  width: 300px;
  height: auto; 
  flex-shrink: 0; }


  .gallery-section {
    padding: 50px 0;
  }
  
  .gallery-img {
    margin-bottom: 20px;
  }
  
  .gallery-img img {
    max-width: 100%;
    height: auto;
  }
  

  /*about menu*/


.menu {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; /* Center align the content */
}

.menu h2 {
  width: 100%;
}

.menu-item {
  width: calc(33.33% - 20px); /* Adjust the width as needed */
  margin-bottom: 30px;
  padding: 0 10px;
}

.menu-item h3 {
  margin-bottom: 10px;
  color: #343a40;
}

.menu-item p {
  color: #6c757d;
}








.shef-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,auto));
  grid-gap: 1.5rem;
  margin-top: 2rem;
}
.shef-container .box{
  padding: 20px;
  box-shadow: 0 4px 4px rgb(242, 229, 229);

  border-radius: 0.5rem;
  text-align: center;
}


.shef-container .box p{
  font-size: 0.938rem;
  margin: 0.5rem 0 1rem;


}

.shef-container .box h2{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
  color: var(--second-color);

}

.shef-container .box img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--second-color);

}

.shef-container .box:hover{
  background: #8fc53d;}
/*contact*/


.contact-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  ;
}




.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-info {
  flex: 1;
}

.map-container {
  flex: 1;
  margin-left: 20px; 
}




.contact-info h2{
  font-size: 1.7rem;
  
}
.contact-info p{
  margin: 0.5rem 0 1rem;
}


.address i{
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 20px;

}
.address span{
  font-size: 1rem;

}

.social a{
  font-size: 24px;
  color: black;
  margin-right: 1rem;

}
.social a:hover{
  background: #8fc53d;
}





.container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
}

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  .home-text h1 {
    font-size: 2rem;
  }
  .shop-container,
  .new-container {
    grid-template-columns: repeat(auto-fit, minmax(218px, auto));
  }
}
@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgb(0 0 0 /10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a:hover {
    color: #fff;
    background: var(--main-color);
  }
  .about{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .box-img{
    padding: 1rem;
    order: 2;
  }

}




@media (max-width: 491px){
    .home-text h1{
        font-size: 1.7rem;
    }
    .shef-container,
    .new-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .box .box-img{
        height: 300px;
    }
    .news-box input{
        width: 180px;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
}